extends index

block content
    .container-fluid
        form.change_pass
            .col-md-12
              .form-group
                label.control-label Mật khẩu
                input#oldpassword.form-control.form-control-sm(type="password" name="id" required value="")
              .form-group
                label.control-label Mật khẩu mới
                input#password.form-control.form-control-sm(type="password" name="password" required value="")
              .form-group
                label.label.control-label Xác nhận mật khẩu
                input(type="password" class="form-control form-control-sm" name="cpass")
                small#pass_match(data-status='')
            
            hr
            .col-lg-12.text-right.justify-content-center.d-flex
                button.btn.btn-primary.mr-2(type="submit") Lưu
                button.btn.btn-secondary(type="button" onclick="location.href = './'") Huỷ  
    script.
        $('[name="password"],[name="cpass"]').keyup(function(){
            var pass = $('[name="password"]').val()
            var cpass = $('[name="cpass"]').val()
            if(cpass == '' ||pass == ''){
                $('#pass_match').attr('data-status','')
            }else{
                if(cpass == pass){
                $('#pass_match').attr('data-status','1').html('<i class="text-success">Password Matched.</i>')
                }else{
                $('#pass_match').attr('data-status','2').html('<i class="text-danger">Password does not match.</i>')
                }
            }
        })

            