extends index

block content
  head
    <link rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel='stylesheet', href='styles/style.css'>

  .container.mt-5
    .row
      .col-md-4
        .input-group.mb-3
          input.form-control(type='text', placeholder='Tìm kiếm người dùng...')
          .input-group-append
            button.btn.btn-outline-secondary(type='button')
              i.fas.fa-search
        .list-group#userList
          each conversation in data
            -if(conversation.isGroup)
              button.list-group-item.list-group-item-action( onclick=`loadConversation('${conversation._id}',3)`)= conversation.name
            -else if(conversation.participants[0]._id != user._id)
              button.list-group-item.list-group-item-action( onclick=`loadConversation('${conversation._id}',1)`)= conversation.participants[1].name
            -else
              button.list-group-item.list-group-item-action( onclick=`loadConversation('${conversation._id}',0)`)= conversation.participants[0].name
      .col-md-8
        .card
          .card-header
            .user-info.d-flex.align-items-center.justify-content-between
              .d-flex.align-items-center
                img(src='/img/path_to_avatar.jpg', alt='Avatar').mr-3
                span(id='chatName')
              .attachment-icons
                i.fas.fa-phone(alt='Gọi điện', title='Gọi điện')

          .card-body#chatWindow
            .chat-messages
              // Nội dung các tin nhắn sẽ được hiển thị ở đây

          .card-footer
            form#messageForm.d-flex
              input.form-control(type='text', placeholder='Type a message...', name='message')
              button.btn.btn-outline-secondary(type='button') 
                i.fas.fa-image
              button.btn.btn-outline-secondary(type='button')
                i.fas.fa-paperclip
              button.btn.btn-primary(type='submit') Gửi

  script(src='/mjs/chat.js')
