extends index

block content	

  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Chat Web App UI Kit</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap%3A700"/>
    <link rel="stylesheet" href="./styles/chat-web-app-ui-kit.css"/>
  </head>
  <body>
  <div class="chat-web-app-ui-kit-zAR">
    <div class="sidebar-Vss">
      <div class="frame-2-k37">
        <div class="logo-55P">Q</div>
        <div class="frame-1-sX3">
          <img class="iconsax-wWu" src="./assets/iconsax-XoK.png"/>
          <img class="iconsax-sQZ" src="./assets/iconsax-rcu.png"/>
          <img class="iconsax-QfP" src="./assets/iconsax-XXj.png"/>
          <img class="iconsax-wvD" src="./assets/iconsax-TEu.png"/>
          <img class="iconsax-tqT" src="./assets/iconsax-5Sm.png"/>
        </div>
      </div>
      <img class="iconsax-do3" src="./assets/iconsax-H89.png"/>
    </div>
    <div class="messages-panel-6gd">
      <div class="header-zGD">
        <div class="content-vQm">
          <div class="frame-4-ojT">
            <div class="frame-8-Kxh">
              <p class="messages-UKo">Messages</p>
              <img class="iconsax-CWh" src="./assets/iconsax-6rq.png"/>
            </div>
            <div class="frame-3-XJ5">12</div>
          </div>
          <img class="iconsax-8Ym" src="./assets/iconsax-YxD.png"/>
        </div>
        <div class="divider-5D7">
        </div>
      </div>
      <div class="global-list-oeu">
        <div class="frame-6-9Ts">
          <p class="search-TDf">search</p>
          <p class="search-messages-b4y">Search messages</p>
        </div>
        <div class="message-list-hNu">
          <div class="message-component-ckm">
            <img class="frame-10-gkd" src="./assets/frame-10-Dsb.png"/>
            <div class="frame-11-QAq">
              <div class="frame-15-9u7">
                <div class="frame-13-iBX">
                  <p class="full-name-here-saD">Elmer Laverty</p>
                  <p class="m-CMb">12m</p>
                </div>
                <p class="enter-your-message-here-8FF">Haha oh man 🔥</p>
              </div>
              <div class="frame-14-ejP">
                <div class="label-b8q">Question</div>
                <div class="label-eso">Help wanted</div>
              </div>
            </div>
          </div>
          <div class="message-component-XAu">
            <img class="frame-10-riy" src="./assets/frame-10-DhF.png"/>
            <div class="frame-11-yHo">
              <div class="frame-15-vyj">
                <div class="frame-13-UkM">
                  <p class="full-name-here-ePw">Florencio Dorrance</p>
                  <p class="m-nFF">24m</p>
                </div>
                <p class="enter-your-message-here-vcM">woohoooo</p>
              </div>
              <div class="frame-14-4Tf">
                <div class="label-PF3">Some content</div>
              </div>
            </div>
          </div>
          <div class="auto-group-s3hm-p5T">
            <div class="message-component-jCR">
              <img class="frame-10-FgZ" src="./assets/frame-10-k7X.png"/>
              <div class="frame-11-z8M">
                <div class="frame-15-8VT">
                  <div class="frame-13-rgM">
                    <p class="full-name-here-c9j">Lavern Laboy</p>
                    <p class="m-K49">1h</p>
                  </div>
                  <p class="enter-your-message-here-2jF">Haha that&#39;s terrifying 😂</p>
                </div>
                <div class="frame-14-N2R">
                  <div class="label-6z1">Bug</div>
                  <div class="label-15P">Hacktoberfest</div>
                </div>
              </div>
            </div>
            <div class="message-component-5L9">
              <img class="frame-10-DhF" src="./assets/frame-10-JSq.png"/>
              <div class="frame-11-YDj">
                <div class="frame-15-6m3">
                  <div class="frame-13-EsF">
                    <p class="full-name-here-nNy">Titus Kitamura</p>
                    <p class="m-WZs">5h</p>
                  </div>
                  <p class="enter-your-message-here-SyK">omg, this is amazing</p>
                </div>
                <div class="frame-14-u6D">
                  <div class="label-Sbw">Question</div>
                  <div class="label-w2u">Some content</div>
                </div>
              </div>
            </div>
            <div class="message-component-RCy">
              <img class="frame-10-Laq" src="./assets/frame-10-DsK.png"/>
              <div class="frame-11-2yT">
                <div class="frame-15-zfP">
                  <div class="frame-13-wqX">
                    <p class="full-name-here-7V7">Geoffrey Mott</p>
                    <p class="m-qvu">2d</p>
                  </div>
                  <p class="enter-your-message-here-PhX">aww 😍</p>
                </div>
              </div>
            </div>
            <div class="message-component-uQy">
              <img class="frame-10-TBb" src="./assets/frame-10-4xD.png"/>
              <div class="frame-11-yfj">
                <div class="frame-15-LFP">
                  <div class="frame-13-4hB">
                    <p class="full-name-here-cCu">Alfonzo Schuessler</p>
                    <p class="m-Kd7">1m</p>
                  </div>
                  <p class="enter-your-message-here-4qb">perfect!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="message-panel-9s3">
      <div class="top-content-4UD">
        <div class="panel-header-oAu">
          <div class="user-content-ujj">
            <img class="frame-10-dvd" src="./assets/frame-10-cpd.png"/>
            <div class="frame-18-KYZ">
              <p class="florencio-dorrance-sa5">Florencio Dorrance</p>
              <div class="frame-19-Qpu">
                <div class="ellipse-1-ZC1">
                </div>
                <p class="online-tk5">Online</p>
              </div>
            </div>
          </div>
          <div class="call-button-ptd">
            <img class="iconsax-bold-call-xjw" src="./assets/iconsax-bold-call.png"/>
            <p class="call-65T">Call</p>
          </div>
        </div>
        <div class="divider-DA5">
        </div>
        <div class="message-list-93j">
          <div class="auto-group-muk1-3uo">
            <div class="frame-22-AzR">
              <img class="frame-10-stq" src="./assets/frame-10-EZs.png"/>
              <div class="frame-21-aoF">
                <div class="auto-group-bntb-8Zs">
                  <div class="message-item-5ED">omg, this is amazing</div>
                  <div class="message-item-9js">perfect! ✅</div>
                </div>
                <div class="message-item-ctM">Wow, this is really epic</div>
              </div>
            </div>
            <div class="frame-23-t5B">
              <div class="message-item-pUd">How are you?</div>
              <img class="frame-10-JPo" src="./assets/frame-10-LQ5.png"/>
            </div>
          </div>
          <div class="auto-group-daap-q8q">
            <div class="frame-24-BTb">
              <img class="frame-10-7MF" src="./assets/frame-10-szD.png"/>
              <div class="frame-21-qgZ">
                <div class="auto-group-kpuq-zpM">
                  <div class="message-item-8vZ">just ideas for next time</div>
                  <div class="message-item-q4H">I&#39;ll be there in 2 mins ⏰</div>
                </div>
              </div>
            </div>
            <div class="frame-25-7Gh">
              <div class="frame-21-Fdo">
                <div class="auto-group-3edy-PV7">
                  <div class="message-item-j3B">woohoooo</div>
                  <div class="message-item-kys">Haha oh man</div>
                </div>
                <div class="message-item-eZT">Haha that&#39;s terrifying 😂</div>
              </div>
              <img class="frame-10-8zR" src="./assets/frame-10-Z9X.png"/>
            </div>
          </div>
          <div class="frame-26-TWu">
            <img class="frame-10-CDb" src="./assets/frame-10-kfP.png"/>
            <div class="frame-21-ixd">
              <div class="message-item-fcy">aww</div>
              <div class="message-item-jMw">omg, this is amazing</div>
              <div class="message-item-REm">woohoooo 🔥</div>
            </div>
          </div>
        </div>
      </div>
      <div class="message-box-W1K">
        <img class="iconsax-d5w" src="./assets/iconsax-vwP.png"/>
        <div class="frame-6-M1w">
          <p class="type-a-message-sky">Type a message</p>
          <img class="iconsax-oed" src="./assets/iconsax-R4Z.png"/>
        </div>
      </div>
    </div>
    <div class="rectangle-1-r77">
    </div>
    <div class="frame-27-mE5">
      <div class="header-sH7">
        <div class="content-RJd">
          <div class="frame-8-LwP">
            <p class="directory-H5w">Directory</p>
            <div class="auto-group-ru7y-pLm">
            </div>
          </div>
          <img class="group-1-xxm" src="./assets/group-1.png"/>
        </div>
        <div class="divider-ud7">
        </div>
      </div>
      <div class="team-members-section-Ssw">
        <div class="section-title-8Ey">
          <p class="title-ez1">Team Members</p>
          <div class="frame-3-zY5">6</div>
        </div>
        <div class="message-component-VDw">
          <img class="frame-10-Ce9" src="./assets/frame-10-URj.png"/>
          <div class="frame-11-icV">
            <div class="frame-15-4wF">
              <div class="frame-13-pfX">Florencio Dorrance</div>
              <p class="job-9ho">Market Development Manager</p>
            </div>
          </div>
        </div>
        <div class="message-component-dcy">
          <img class="frame-10-Yzq" src="./assets/frame-10-1tR.png"/>
          <div class="frame-11-sGR">
            <div class="frame-15-cUu">
              <div class="frame-13-xof">Benny Spanbauer</div>
              <p class="job-tSR">Area Sales Manager</p>
            </div>
          </div>
        </div>
        <div class="message-component-opH">
          <img class="frame-10-Y1B" src="./assets/frame-10-BWd.png"/>
          <div class="frame-11-pzH">
            <div class="frame-15-ksw">
              <div class="frame-13-i45">Jamel Eusebio</div>
              <p class="job-FJu">Administrator</p>
            </div>
          </div>
        </div>
        <div class="message-component-mY9">
          <img class="frame-10-tsf" src="./assets/frame-10-JuT.png"/>
          <div class="frame-11-cYm">
            <div class="frame-15-AKP">
              <div class="frame-13-unm">Lavern Laboy</div>
              <p class="job-Eq3">Account Executive</p>
            </div>
          </div>
        </div>
        <div class="message-component-YKw">
          <img class="frame-10-EyT" src="./assets/frame-10-oLh.png"/>
          <div class="frame-11-xPf">
            <div class="frame-15-7GZ">
              <div class="frame-13-fYy">Alfonzo Schuessler</div>
              <p class="job-QWZ">Proposal Writer</p>
            </div>
          </div>
        </div>
        <div class="message-component-j33">
          <img class="frame-10-STF" src="./assets/frame-10-Qsw.png"/>
          <div class="frame-11-A8M">
            <div class="frame-15-VwK">
              <div class="frame-13-pih">Daryl Nehls</div>
              <p class="job-Yeh">Nursing Assistant</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-2-Fp1">
      </div>
      <div class="team-members-section-12V">
        <div class="section-title-Wjw">
          <p class="title-3js">Files</p>
          <div class="frame-3-nSZ">125</div>
        </div>
        <div class="file-card-5wT">
          <img class="frame-10-zYd" src="./assets/frame-10-D6m.png"/>
          <div class="frame-11-UTo">
            <div class="frame-15-Q6Z">
              <p class="title-xNy">i9.pdf</p>
              <div class="meta-details-Vth">
                <p class="type-rjF">PDF</p>
                <p class="size-zKf">9mb</p>
              </div>
            </div>
          </div>
          <img class="iconsax-imT" src="./assets/iconsax.png"/>
        </div>
        <div class="file-card-eQD">
          <img class="frame-10-AtM" src="./assets/frame-10-CVK.png"/>
          <div class="frame-11-rmB">
            <div class="frame-15-AWy">
              <p class="title-iYV">Screenshot-3817.png</p>
              <div class="meta-details-4sF">
                <p class="type-p5j">PNG</p>
                <p class="size-YnR">4mb</p>
              </div>
            </div>
          </div>
          <img class="iconsax-Fgq" src="./assets/iconsax-72D.png"/>
        </div>
        <div class="file-card-m9P">
          <img class="frame-10-UpV" src="./assets/frame-10-Qv9.png"/>
          <div class="frame-11-wCH">
            <div class="frame-15-Seq">
              <p class="title-NoP">sharefile.docx</p>
              <div class="meta-details-Jh3">
                <p class="type-Eqb">DOC</p>
                <p class="size-MvD">555kb</p>
              </div>
            </div>
          </div>
          <img class="iconsax-ghb" src="./assets/iconsax-nPF.png"/>
        </div>
        <div class="file-card-cbF">
          <img class="frame-10-JDB" src="./assets/frame-10.png"/>
          <div class="frame-11-PVX">
            <div class="frame-15-WKF">
              <p class="title-TkH">Jerry-2020_I-9_Form.xxl</p>
              <div class="meta-details-zkD">
                <p class="type-8bX">XXL</p>
                <p class="size-rnR">24mb</p>
              </div>
            </div>
          </div>
          <img class="iconsax-BZo" src="./assets/iconsax-ibo.png"/>
        </div>
        <div class="file-card-KR7">
          <img class="frame-10-QxM" src="./assets/frame-10-AhB.png"/>
          <div class="frame-11-ii9">
            <div class="frame-15-4n1">
              <p class="title-pWH">i9.pdf</p>
              <div class="meta-details-MWD">
                <p class="type-7VP">PDF</p>
                <p class="size-eVK">9mb</p>
              </div>
            </div>
          </div>
          <img class="iconsax-yXb" src="./assets/iconsax-18h.png"/>
        </div>
      </div>
    </div>
  </div>
  </body>