extends index

block content
    .container-fluid
        #msg
        form#manage-user(action='ajax.php?action=update_user', method='POST')
            input(type='hidden', name='id', value='')
            .form-group
                label(for='first_name') Tên đầu tiên
                input#first_name.form-control(type='text', name='first_name', value='', required)
            .form-group
                label(for='lastname') Tên cuối
                input#lastname.form-control(type='text', name='lastname', value='', required)
            .form-group
                label(for='email') Email
                input#email.form-control(type='text', name='email', value='', required, autocomplete='off')
            .form-group
                label(for='password') Mật khẩu
                input#password.form-control(type='password', name='password', autocomplete='off')
                small
                    i Để trống nếu bạn không muốn thay đổi mật khẩu.
            .form-group
                label.control-label(for='img') Avatar
                .custom-file
                    input.custom-file-input.rounded-circle#customFile(type='file', name='img', onchange='displayImg(this, $(this))')
                    label.custom-file-label(for='customFile') Chọn file
            .form-group.d-flex.justify-content-center
                img#cimg.img-fluid.img-thumbnail(src='', alt='')
            hr
            .col-lg-12.text-right.justify-content-center.d-flex
                button.btn.btn-primary.mr-2(type="submit") Lưu
                button.btn.btn-secondary(type="button" onclick="location.href = 'index.php?page=user_list'") Cancel
    style.
        img#cimg {
            height: 15vh;
            width: 15vh;
            object-fit: cover;
            border-radius: 100% 100%;
        }
        
    script.
        function displayImg(input, _this) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#cimg').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#manage-user').submit(function(e){
            e.preventDefault();
            start_load();
            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                success:function(resp){
                    if(resp == 1){
                        alert_toast('Data successfully saved', 'success');
                        setTimeout(function(){
                            location.reload();
                        }, 1500);
                    } else {
                        $('#msg').html('<div class="alert alert-danger">Username already exists</div>');
                        end_load();
                    }
                }
            });
        });
