doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Meeting room
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
    link(rel='stylesheet', href='styles/stylemeet.css')
    // Import the webpage's JavaScript files
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js")
    script(src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js")
    // Import your custom JavaScript file

  body
    .container.has-text-centered#app(v-cloak)
      .container1
        h1.title Well come meeting
        div
          button.button.is-primary(v-if="!room", @click="createRoom") Tạo Meeting
          button.button.is-info(v-if="!room", @click="joinWithId") Join Meeting
          button.button.is-info(v-if="!room", @click="publish") Share Desktop
          button.button.is-danger(v-if="room", @click="endMeeting") End Meeting
          
          .info(v-if="roomId")
            p Bạn đang ở trong room 
              strong {{roomId}}.
            p Link vào room:
              a(v-bind:href="roomUrl", target="_blank") {{roomUrl}}.
            p Hoặc bạn cũng có thể copy 
              code {{roomId}} vào room
        .sub-container
          #videos
          footer.zoom-footer
            button.audio-control.button.share-button
              img.icon(src="https://png.pngtree.com/png-vector/20220529/ourmid/pngtree-volume-mute-icon-simple-vectors-icon-turn-off-the-sound-flat-vector-png-image_46627988.jpg")
              label Mute 
            button.video-control.button.share-button
              img.icon(src="https://static.thenounproject.com/png/2017737-200.png")
              label Stop Video 
        
            button.participants.button.share-button
              img.icon(src="https://cdn3.iconfinder.com/data/icons/ecommerce-329/48/groupsport_teampeopleparticipantusersteammen-512.png")
              label Participants 
            button.participants.button.share-button#click-chat(onclick="toggleChatBox()")
              img.icon(src="https://cdn-icons-png.flaticon.com/512/14/14558.png")
              label Chat 
      .container2#openChat.hidden
        h1.title Chat
        div.chatBox
          div.contentChat
          div.chat-section
            ul.chat-messages
            form.chat-form
              input(type="text", placeholder="Type message here...")
              button.send-message.button.is-info(type="submit") Send

  // Trong file JavaScript
  script.
    document.addEventListener('DOMContentLoaded', function() {
      function toggleChatBox() {
        const chatBox = document.getElementById('openChat');
        // Loại bỏ lớp hidden khi nút được nhấn
        if (chatBox.classList.contains('hidden')) {
          chatBox.classList.remove('hidden');
        } else {
          chatBox.classList.add('hidden');
        }
      }

      // Add your other JavaScript logic here

      // Example of adding an event listener to a button with class 'end-meeting'
      const endMeetingButton = document.querySelector('.end-meeting');
      if (endMeetingButton) {
        endMeetingButton.addEventListener('click', function() {
          alert('Cuộc họp đã kết thúc');
        });
      }

      // Add event listeners for other buttons or elements as needed

    });

  script(src='/mjs/api.js')
  script(src="/mjs/script.js")
