extends index

block content
  .col-lg-12
    .card
      .card-body
        form#manage_user(action="" method="POST")
          input(type="hidden" name="id" value="")
          .row
            .col-md-6.border-right
              .form-group
                label.control-label(for="") Tên
                input(type="text" name="firstname" class="form-control form-control-sm" required value="")
              .form-group
                label.control-label(for="") Vai trò người dùng
                select#type.custom-select.custom-select-sm
                  option(value="3") Sinh viên
                  option(value="2") Giáo viên
                  option(value="1") Admin
                input(type="hidden" name="type" value="3")
              .form-group
                label.control-label(for="") Avatar
                .custom-file
                  input(type="file" class="custom-file-input" id="customFile" name="img" onchange="displayImg(this,$(this))")
                  label.custom-file-label(for="customFile") Chọn file
              
            .col-md-6
              .form-group
                label.control-label Id
                input(type="email" class="form-control form-control-sm" name="email" required value="")
                small#msg
              .form-group
                label.control-label Mật khẩu
                input(type="password" class="form-control form-control-sm" name="password")
                small
                  i
                    | 
              .form-group
                label.label.control-label Xác nhận mật khẩu
                input(type="password" class="form-control form-control-sm" name="cpass")
                small#pass_match(data-status='')
          hr
          .col-lg-12.text-right.justify-content-center.d-flex
            button.btn.btn-primary.mr-2(type="submit") Lưu
            button.btn.btn-secondary(type="button" onclick="location.href = './userlist'") Cancel
  style.
    img#cimg{
      height: 15vh;
      width: 15vh;
      object-fit: cover;
      border-radius: 100% 100%;
    }
  script.
    $('[name="password"],[name="cpass"]').keyup(function(){
      var pass = $('[name="password"]').val()
      var cpass = $('[name="cpass"]').val()
      if(cpass == '' ||pass == ''){
        $('#pass_match').attr('data-status','')
      }else{
        if(cpass == pass){
          $('#pass_match').attr('data-status','1').html('<i class="text-success">Password Matched.</i>')
        }else{
          $('#pass_match').attr('data-status','2').html('<i class="text-danger">Password does not match.</i>')
        }
      }
    })
    function displayImg(input,_this) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#cimg').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $('#manage_user').submit(function(e){
      e.preventDefault()
      $('input').removeClass("border-danger")
      start_load()
      $('#msg').html('')
      if($('[name="password"]').val() != '' && $('[name="cpass"]').val() != ''){
        if($('#pass_match').attr('data-status') != 1){
          if($("[name='password']").val() !=''){
            $('[name="password"],[name="cpass"]').addClass("border-danger")
            end_load()
            return false;
          }
        }
      }
      $.ajax({
        url:'ajax.php?action=save_user',
        data: new FormData($(this)[0]),
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        type: 'POST',
        success:function(resp){
          if(resp == 1){
            alert_toast('Data successfully saved.',"success");
            setTimeout(function(){
              location.replace('index.php?page=user_list')
            },750)
          }else if(resp == 2){
            $('#msg').html("<div class='alert alert-danger'>Email already exist.</div>");
            $('[name="email"]').addClass("border-danger")
            end_load()
          }
        }
      })
    })
