extends index

block content
    .col-lg-12
        .card
            .card-body
                form#manage_user(action='ajax.php?action=save_user', method='POST')
                    input(type='hidden', name='id', value='')
                    .row
                        .col-md-6.border-right
                            .form-group
                                label.control-label(for='firstname') Tên đầu
                                input.form-control.form-control-sm(type='text', name='firstname', required, value='')
                            .form-group
                                label.control-label(for='lastname') Tên cuối
                                input.form-control.form-control-sm(type='text', name='lastname', required, value='')
                            .form-group
                                label.control-label(for='type') Vai trò người dùng
                                select#type.custom-select.custom-select-sm(name='type')
                                    option(value='3', selected='') Thành viên
                                    option(value='2') Người quản lí dự án
                                    option(value='1') Admin
                            input(type='hidden', name='type', value='3')
                            .form-group
                                label.control-label(for='img') Avatar
                                .custom-file
                                    input.custom-file-input#customFile(type='file', name='img', onchange='displayImg(this,$(this))')
                                    label.custom-file-label(for='customFile') Chọn file
                                .form-group.d-flex.justify-content-center.align-items-center
                                    img#cimg.img-fluid.img-thumbnail(src='', alt='Avatar')
                        .col-md-6
                            .form-group
                                label.control-label(for='email') Email
                                input.form-control.form-control-sm(type='email', name='email', required, value='')
                                small#msg
                            .form-group
                                label.control-label(for='password') Mật khẩu
                                input.form-control.form-control-sm(type='password', name='password')
                                small
                                    i Để trống nếu bạn không muốn thay đổi mật khẩu.
                            .form-group
                                label.control-label(for='cpass') Xác nhận mật khẩu
                                input.form-control.form-control-sm(type='password', name='cpass')
                                small#pass_match(data-status='')
                            hr
                            .col-lg-12.text-right.justify-content-center.d-flex
                                button.btn.btn-primary.mr-2(type='submit', form='manage_user') Lưu
                                button.btn.btn-secondary(type='button', onclick='location.href = "index.php?page=user_list"') Cancel
                    style.
                        img#cimg {
                            height: 15vh;
                            width: 15vh;
                            object-fit: cover;
                            border-radius: 100% 100%;
                        }

                    script.
                        $('[name="password"],[name="cpass"]').keyup(function(){
                            var pass = $('[name="password"]').val();
                            var cpass = $('[name="cpass"]').val();
                            if(cpass == '' || pass == ''){
                                $('#pass_match').attr('data-status', '');
                            } else {
                                if(cpass == pass){
                                    $('#pass_match').attr('data-status', '1').html('<i class="text-success">Password Matched.</i>');
                                } else {
                                    $('#pass_match').attr('data-status', '2').html('<i class="text-danger">Password does not match.</i>');
                                }
                            }
                        });

                        function displayImg(input, _this) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#cimg').attr('src', e.target.result);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }

                        $('#manage_user').submit(function(e){
                            e.preventDefault();
                            $('input').removeClass("border-danger");
                            start_load();
                            $('#msg').html('');
                            if($('[name="password"]').val() != '' && $('[name="cpass"]').val() != ''){
                                if($('#pass_match').attr('data-status') != '1'){
                                    if($("[name='password']").val() != ''){
                                        $('[name="password"],[name="cpass"]').addClass("border-danger");
                                        end_load();
                                        return false;
                                    }
                                }
                            }
                            $.ajax({
                                url: 'ajax.php?action=save_user',
                                data: new FormData($(this)[0]),
                                cache: false,
                                contentType: false,
                                processData: false,
                                method: 'POST',
                                type: 'POST',
                                success: function(resp){
                                    if(resp == 1){
                                        alert_toast('Data successfully saved.', 'success');
                                        setTimeout(function(){
                                            location.replace('index.php?page=user_list');
                                        }, 750);
                                    } else if(resp == 2){
                                        $('#msg').html("<div class='alert alert-danger'>Email already exist.</div>");
                                        $('[name="email"]').addClass("border-danger");
                                        end_load();
                                    }
                                }
                            });
                        });
