extends index

block content
    .col-lg-12
        .card.card-outline.card-primary
            .card-body
                form.newtopic
        
                    .row
                        .col-md-12
                            .form-group
                                label.control-label(for='name') Tên đề tài
                                input#tendetai.form-control.form-control-sm(type='text', name='name', value='')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label(for='start_date') Ngày bắt đầu
                                input#ngaybatdau.form-control.form-control-sm(type='date', autocomplete='off', name='start_date', value='')
                        .col-md-6
                            .form-group
                                label.control-label(for='end_date') Ngày kết thúc
                                input#ngayketthuc.form-control.form-control-sm(type='date', autocomplete='off', name='end_date', value='')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label(for='manager_id') Mã ngành
                                input#MaNganh.form-control.form-control-sm(type='text', name='manager_id', value='')
                        .col-md-6
                            .form-group
                                label.control-label Thành viên nhóm dự án
                                select#userDropdown.form-control.form-control-sm.select2
                                    option(value="" disabled selected)
                                    
                    .row
                        .col-md-12
                            .form-group
                                label.control-label(for =" ") Mô tả
                                
                                input#mota.form-control.form-control-sm(type='text', name='name', value='')
                    .row 
                        .col-md-6             
                            .form-group
                                label.control-label(for="") Avatar
                                .custom-file
                                input(type="file" class="custom-file-input" id="customFile" name="img" onchange="displayImg(this,$(this))")
                                label.custom-file-label(for="customFile") Chọn file
                    .row 
                        .col-md-10            

                    .card-footer.border-top.border-info
                        .d-flex.w-100.justify-content-center.align-items-center
                            button.btn.btn-flat.bg-gradient-primary.mx-2(type='submit') Save
                            button.btn.btn-flat.bg-gradient-secondary.mx-2(type='button', onclick="location.href='index.php?page=project_list'") Cancel
    script.
        $('#manage-project').submit(function(e){
            e.preventDefault();
            start_load();
            $.ajax({
                url: $(this).attr('action'),
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                success:function(resp){
                    if(resp == 1){
                        alert_toast('Data successfully saved', 'success');
                        setTimeout(function(){
                            location.href = 'index.php?page=project_list';
                        }, 2000);
                    }
                }
            });
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            // Gọi API để lấy danh sách người dùng bằng Axios
            axios.get('/api/v1/users')
            .then(function(response) {
                // Lấy dữ liệu người dùng từ phản hồi
                const users = response.data.data;
                // Đổ dữ liệu vào thanh chọn
                const userDropdown = document.getElementById('userDropdown');
                users.forEach(function(user) {
                const option = document.createElement('option');
                option.value = user._id;
                option.text = `${user.name} id:${user.id}`;
                userDropdown.appendChild(option);
                });
            })
            .catch(function(error) {
                console.error('Error fetching user data:', error);
            });
        });
