extends login

block card-content

  div(id=`reset` style="display: block;")   
    .card
      .card-body.login-card-body
        form.form--reset(onsubmit="return validatePasswords()")
          .input-group.mb-3
            input#new-password.form-control(type="password", name="password", required, placeholder="Password")
            .input-group-append
              .input-group-text
                span.fas.fa-envelope
          .input-group.mb-3
            input#confirm-password.form-control(type="password", name="password-confirm", required, placeholder="Password confirm")
            .input-group-append
              .input-group-text
                span.fas.fa-lock
          .row
            .col-4
              button.btn.btn-primary.btn-block(style="font-size: 16px; width:110px", type="submit") Xác nhận

  script.
    function validatePasswords() {
      var newPassword = document.getElementById('new-password').value;
      var confirmPassword = document.getElementById('confirm-password').value;
      
      if (newPassword !== confirmPassword) {
        alert('Mật khẩu không khớp');
        return false;
      }
      
      return true;
    }

