//- extend index 
//- block content 
//-   .container-fluid
//-         .card.card-widget.widget-user.shadow
//-             .card-footer
//-                 .container-fluid
//-                     dl
//-                         dt Tên hội đồng
//-                         dd= data.TenHoiDong
//-                     dl
//-                         dt Chủ tịch
//-                         dd= data.ChuTich
//-                     dl 
//-                         dt Thư ký
//-                         dd= data.Thuky
//-                     dl 
//-                         dt Uỷ viên 1
//-                         dd= data.UyVien1
//-                     dl 
//-                         dt Uỷ viên 2
//-                         dd= data.UyVien2
//-   .modal-footer.display.p-0.m-0
//-         a.btn.btn-secondary(href='./') Đóng
//-   style.
//-       #uni_modal.modal-footer{
//-               display: none
//-           }
//-       #uni_modal.modal-footer.display{
//-           display: flex
//-       }
                