extends index 

block content

    .container-fluid
        .card.card-widget.widget-user.shadow
            .widget-user-header.bg-dark
                h3.widget-user-username ????????
                h5.widget-user-desc ??????????
            .widget-user-image
                span.brand-image.img-circle.elevation-2.d-flex.justify-content-center.align-items-center.bg-primary.text-white.font-weight-500(style="width: 90px;height:90px")
                    h4 sdfdf

                img.img-circle.elevation-2(src="assets/uploads/<?php echo $avatar ?>", alt="User Avatar", style="width: 90px;height:90px;object-fit: cover")
            .card-footer
                .container-fluid
                    dl
                    dt Role
                    dd ??????
    .modal-footer.display.p-0.m-0
        button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng
    style.
        #uni_modal .modal-footer{
                display: none
            }
            #uni_modal .modal-footer.display{
                display: flex
            }
        