extends index 

block content
    .col-lg-12 
        .row
            .col-md-12 
                .callout.callout-info
                    .col-md-12
                        .row
                            .col-sm-6 
                                dl
                                    dt
                                        b.border-bottom.border-primary Thông báo
                                    dd Thông báo 
                                    dt
                                        b.border-bottom.border-primary Nội dung
                                    dd Nội dung thông báo
                            .col-md-6
                                dl
                                    dt
                                        b.border-bottom.border-primary Ngày bắt đầu
                                    dd ngày bắt đầu 
                              
                                                           
                                
            
                             
                       
                         
            
    style.
       

    script.
       